.partner-page {
    background-image: url(/images/pages/trading/trading-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 566px;

    @media (max-width: 1320px) {
        background-size: 100% 377px;
    }

    @media (max-width: 991px) {
        background-image: url(/images/pages/trading/trading-bg-mobile.png);
        background-size: 991px;
    }

    @media (max-width: 768px) {
        background-size: contain;
    }
}