.accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-item {
        background: linear-gradient(135.00deg, rgb(41, 43, 69) 0%,rgb(15, 18, 46) 100%);
        border: none;
        border-radius: 15px !important;
        overflow: hidden;
    }

    &-button {
        background-color: transparent !important;
        box-shadow: none !important;
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        color: var(--bt-primary, #fff) !important;
        padding: 20px;

        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }

        @media (max-width: 576px) {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &-body {
        padding: 0 20px 20px 20px;

        &__content {
            border-radius: 10px;
            background: linear-gradient(90.00deg, rgb(54, 57, 82),rgb(29, 32, 60) 100%);
            padding: 15px;
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            color: var(--bt-primary, #fff);
        }

        @media (max-width: 1320px) {
            &__content {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}