.btn {
    border-radius: 15px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 12px 20px;
    
    &.btn-outline-secondary {
        color: var(--bt-primary, #fff);
    }

    &.btn-outline-success {
        color: var(--bt-primary, #fff);
    }

    &.btn-lg {
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        padding: 18px 36px;
    }

    &.btn-sm {
        border-radius: 10px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        padding: 8px 20px;
    }

    &:active {
        box-shadow: none !important;
    }
}

.btn-success {
    --bt-btn-color: #2B3137;
    --bt-btn-bg: #24EAA4;
    --bt-btn-border-color: #24EAA4;
    --bt-btn-hover-color: #2B3137;
    --bt-btn-hover-bg: #79FDCE;
    --bt-btn-hover-border-color: #79FDCE;
    --bt-btn-focus-shadow-rgb: 60, 153, 110;
    --bt-btn-active-color: #2B3137;
    --bt-btn-active-bg: #79FDCE;
    --bt-btn-active-border-color: #79FDCE;
    --bt-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bt-btn-disabled-color: #2B3137;
    --bt-btn-disabled-bg: #24EAA4;
    --bt-btn-disabled-border-color: #24EAA4;
}

.btn-outline-secondary {
    --bt-btn-color: #fff;
    --bt-btn-border-color: #7D7D96;
    --bt-btn-hover-color: #000;
    --bt-btn-hover-bg: rgba(255, 255, 255, .2);
    --bt-btn-hover-border-color: #7D7D96;
    --bt-btn-focus-shadow-rgb: 125, 125, 150;
    --bt-btn-active-color: #000;
    --bt-btn-active-bg: #7D7D96;
    --bt-btn-active-border-color: #7D7D96;
    --bt-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bt-btn-disabled-color: #7D7D96;
    --bt-btn-disabled-bg: transparent;
    --bt-btn-disabled-border-color: #7D7D96;
    --bt-gradient: none;
}

.btn-black {
    --bt-btn-color: #24EAA4;
    --bt-btn-bg: #121126;
    --bt-btn-border-color: #414151;
    --bt-btn-hover-color: #24EAA4;
    --bt-btn-hover-bg: #414151;
    --bt-btn-hover-border-color: #414151;
    --bt-btn-focus-shadow-rgb: 60, 153, 110;
    --bt-btn-active-color: #2B3137;
    --bt-btn-active-bg: #414151;
    --bt-btn-active-border-color: #414151;
    --bt-btn-active-shadow: inset 0 3px 5px #414151;
    --bt-btn-disabled-color: #2B3137;
    --bt-btn-disabled-bg: #121126;
    --bt-btn-disabled-border-color: #121126;
}

.btn-white {
    --bt-btn-color: #121126;
    --bt-btn-bg: #FFFFFF;
    --bt-btn-border-color: #FFFFFF;
    --bt-btn-hover-color: #121126;
    --bt-btn-hover-bg: #24EAA4;
    --bt-btn-hover-border-color: #24EAA4;
    --bt-btn-focus-shadow-rgb: 60, 153, 110;
    --bt-btn-active-color: #2B3137;
    --bt-btn-active-bg: #24EAA4;
    --bt-btn-active-border-color: #24EAA4;
    --bt-btn-active-shadow: inset 0 3px 5px #24EAA4;
    --bt-btn-disabled-color: #121126;
    --bt-btn-disabled-bg: #FFFFFF;
    --bt-btn-disabled-border-color: #FFFFFF;
}

.btn-yellow {
    --bt-btn-color: #2B3137;
    --bt-btn-bg: linear-gradient(90.00deg, rgb(254, 229, 129),rgb(206, 144, 45) 100%);
    --bt-btn-border-color: transporent;
    --bt-btn-hover-color: #2B3137;
    --bt-btn-hover-bg: linear-gradient(90.00deg, rgb(247, 231, 169),rgb(206, 154, 70) 100%);
    --bt-btn-hover-border-color: #414151;
    --bt-btn-focus-shadow-rgb: 60, 153, 110;
    --bt-btn-active-color: #2B3137;
    --bt-btn-active-bg: #414151;
    --bt-btn-active-border-color: #414151;
    --bt-btn-active-shadow: inset 0 3px 5px #414151;
    --bt-btn-disabled-color: #2B3137;
    --bt-btn-disabled-bg: #121126;
    --bt-btn-disabled-border-color: #121126;
}

.btn-yellow {
    background: var(--bt-btn-bg);
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0);
        border-radius: var(--bt-btn-border-radius);
        transition: background-color .3s;
    }

    &:hover {
        background: var(--bt-btn-bg);

        &::before {
            background-color: rgba(255, 255, 255, 15%);
        }
    }
}