.ambitions {
    &__title {
        margin-bottom: 15px;
    }

    &__subtitle {
        margin-bottom: 40px;
    }

    &__item {
        padding: 30px 20px;
        border-radius: 40px;
        min-height: 390px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;

        &--text {

        }

        &--control {

        }

        &--1 {
            background-image: url('/images/ambitions/ambitions-img-1.png'); 
        }

        &--2 {
            background-image: url('/images/ambitions/ambitions-img-2.png'); 
        }


        &--3 {
            background-image: url('/images/ambitions/ambitions-img-3.png'); 
        }
    }

    @media (max-width: 991px) {
        &__item {
            min-height: 184px;
            flex-direction: row;

            background-position: right bottom;
            background-size: 250px;
            padding: 16px 45px 16px 20px;

            &--text {
                max-width: 50%;
            }

            &--control {
                align-self: flex-end;
            }
        }
    }

    @media (max-width: 576px) {
        &__item {
            min-height: 275px;
            flex-direction: column;
            background-position: center bottom;
            background-size: 300px;
            padding: 20px;

            &--text {
                max-width: 100%;
                text-align: center;
            }

            &--control {
                align-self: center;
            }
        }
    }

    @media (max-width: 480px) {
        &__item {
            min-height: 255px;
            flex-direction: column;
            background-size: 260px;
        }
    }
}