.features {
    &__central {
        width: 526px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: 100%;

        img {
            width: 100%;
            flex-grow: 1;
            object-fit: cover;
            border-radius: 30px;
        }

        .btn {
            width: 100%;
        }
    }

    @media (max-width: 1320px) {
        &__central {
            width: 372px;
        }
    }

    @media (max-width: 991px) {
        &__central {
            width: 100%;

            .btn {
                margin-bottom: 20px;
            }
        }
    }

    @media (max-width: 991px) {
        &__central {
            .btn {
                margin-bottom: 30px;
            }
        }
    }
}