.seamlessly-trade {
    &__box {
        padding: 80px 40px;
        background-color: $text-ultra-light-blue;
        border-radius: 40px;
        background-image: url(/images/seamlessly-trade/seamlessly-trade-bg.png);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 530px;
    }

    &__title {
        margin-bottom: 15px;
        padding-right: 30px;
    }

    @media (max-width: 1320px) {
        &__box {
            padding: 47px 32px;
            background-size: 300px;
        }

        &__title {
            padding-right: 0;
        }
    }

    @media (max-width: 991px) {
        &__box {
            padding: 50px 50px 290px 50px;
            background-position: center bottom;
            background-size: 380px;
        }

        &__title {
            text-align: center;
        }

        &__subtitle {
            text-align: center;
        }
    }

    @media (max-width: 576px) {
        &__box {
            padding: 50px 15px 290px 15px;
        }
    }

    @media (max-width: 360px) {
        &__box {
            padding: 50px 15px 230px 15px;
            background-size: 290px;
        }
    }
}