.statistic {
    padding-top: 50px !important;
    padding-bottom: 0 !important;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: relative;

        &:not(:last-child) {
            &::before {
                content: '';
                display: block;
                width: 1px;
                height: 64px;
                background-color: #dbe8ee;
                position: absolute;
                right: -5px;
                top: calc(100% / 2 - 32px);
            }
        }

        &-countWrap {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}