.technology {
    &__box {
        padding: 50px 40px;
        background: radial-gradient(39.27% 126.43% at 49.96% 0%, #B7D8F6 0%, #3A95EF 100%);
        border-radius: 40px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__btn {
        margin-top: 40px;
    }

    &__item {
        position: relative;
        height: 100%;
        padding: 46px 10px 15px 10px;
        border-radius: 20px;
        background: #ffffff1a;

        &::before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 15px;
            left: 10px;
            border-radius: 50%;
            background: $text-light-blue;
        }
    }

    @media (max-width: 1320px) {
        &__item {
            &--text {
                font-size: 14px;
            }
        }
    }

    @media (max-width: 480px) {
        &__box {
            padding: 50px 20px;
        }
    }

    @media (max-width: 360px) {
        &__box {
            padding: 50px 15px;
        }

        &__btn {
            width: 100%;
        }
    }
}