.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    gap: 30px;
    padding: 20px;
    border: 1px solid rgb(219, 232, 238);
    border-radius: 15px;

    &__wrapper {
        padding: 5px;
        border: 1px solid rgb(243, 247, 249);
        border-radius: 20px;
        height: 100%;
    }

    &__content {
        position: relative;
    }

    &--index {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 30px;
        line-height: 120%;
        font-weight: 550;
        color: $text-dark-blue;
    }

    &--icon {
        width: 50px;
        height: 50px;
        min-width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--title {
        margin-bottom: 5px;
    }

    &:not(.card--dark) {
        background: radial-gradient(163.00% 225.00% at 50% 0%, rgb(255, 255, 255) 17.442%, rgb(189, 231, 255) 100%);

        .card--icon {
            background: radial-gradient(107% 107% at 20.65% -7%, #1BD6FF 0%, #26B0FE 100%);
        }
    }

    &.card--dark {
        background:
            radial-gradient(39.00% 126.00% at 50% 0%, rgb(183, 216, 246), rgb(58, 149, 239) 100%),
            radial-gradient(163.00% 225.00% at 50% 0%, rgb(255, 255, 255) 17.442%, rgb(189, 231, 255) 100%);

        .card--icon {
            background: $text-white;
        }
    }

    @media (max-width: 1320px) {
        &--index {
            font-style: 24px;
        }
    }

    @media (max-width: 480px) {
        flex-direction: row;
        gap: 20px;
    }
}