.text {
    &--lg {
        font-size: 24px;
        font-weight: 400;
        line-height: 120%;
    }

    &--md {
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
    }

    &--sm {
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
    }
    
    &--gray {
        color: $text-gray;
    }

    &--black {
        color:  $text-black;
    }

    &--white {
        color: $text-white;
    }

    &--dark-blue {
        color: $text-dark-blue;
    }

    @media (max-width: 991px) {
        &--lg {
            font-size: 20px;
        }
    
        &--md {
            font-size: 18px;
        }
    
        &--sm {
            font-size: 14px;
        }
    }

    @media (max-width: 576px) {
        &--lg {
            font-size: 20px;
        }
    
        &--md {
            font-size: 16px;
        }
    }

    @media (max-width: 480px) {
        &--lg {
            font-size: 16px;
        }
    
        &--md {
            font-size: 14px;
        }
    }

    @media (max-width: 360px) {
        &--lg {
            font-size: 14px;
        }
    }
}